# Object files
*.o
*.ko
*.obj
*.elf
*.os

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# . (dot) files excluding the .gitignore
.*
!.gitignore

# ~ files
*~

# .bak files
.bak

# The output directory
out/
